
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Record</h2>
<table>
    <tr>
        <td><strong>Enter Employee ID to Delete Record</strong></td>
        <td><input type="text" id="employeeId"></td>
    </tr>
    <tr>
        <td><button onclick="myfunction()">Edit</button></td>
    </tr>

</table>
<button onclick="myfunction()">Confirm </button>