
@{
    ViewBag.Title = "MainView";
}

<h2>Welcome</h2>

<h2>@Html.ActionLink("View All Records", "Index", "EmployeeFrot/Index")</h2><br/>
<h2>@Html.ActionLink("Insert Record", "Create", "EmployeeFrot/Create")</h2><br/>
<h2>@Html.ActionLink("Edit Record", "Edit", "EmployeeFrot")</h2><br />
<h2>@Html.ActionLink("Delete Record", "Delete", "EmployeeFrot")</h2><br/>
